*{
    font-family: 'Lobster', cursive;
    background-color: rgb(245, 176, 252);
    text-align: center;
}
button{
    margin: 15px;
    background-color: rgb(18, 124, 224);
    border-radius: 10px;
}
img{
    height: 200px;
    width: 200px;
    border-radius: 50px;
}
img:hover{
    height: 300px;
    width: 300px;
    box-shadow: 10px 10px  salmon;
}