h1{
    font-family: 'Barlow', sans-serif;
    font-size:70px ;
}

*{
    margin: 0px;
    padding: 4px;
    box-sizing: border-box;
}
body{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    color: #fff;
    text-align: center;
    ;
}
img{
    height: 300px;
    width: 300px;
}
div{
    display: grid;
grid-template-columns:1fr 1fr 1fr 1fr;
grid-template-rows:auto;
gap:30px;
}